version: "3.3"

services:
  tunnel:
    build: ./cloudflare
    restart: unless-stopped
    command: --credentials-file '/cloudflared-credentials.json' --url "http://http:8080" "a7d4f87c-c9d5-41a4-823a-28ba6a89519c"
    volumes:
      - "./cloudflared-credentials.json:/cloudflared-credentials.json:ro"
    networks:
      - base
    depends_on:
      - http

  http:
    build: . 
    restart: unless-stopped
    runtime: nvidia
    volumes:
      - "./checkpoints/:/usr/src/app/checkpoints:ro"
    networks:
      - base

networks:
    base:
